{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div style="text-align:center">Hi {{ user.username }}! Confirm Order and Checkout</div>

  <div class = align-right>
  <br>
      <hr>
   <form method="post">
    {% csrf_token %}

  <td colspan= 3> Cart: </td><br><br>
      {% for item in order %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ item.name }}</td>
          <td>${{ item.price }}</td>
            <span class="pull-right">
                <a href="{% url 'delete_from_cart' item.item_id %}" class="btn btn-warning">Delete from Cart</a>
            </span>
        <br>
        </tr>
      {% empty %}
        <tr>
          <td colspan= 3> You have not added any items yet.</td>
        </tr>
      {% endfor %}
  {%  if order %}
      <p>Sales Tax: 6.25%</p>
      <p id="baseTotalPrice">Base Price with Tax: ${{ total }}</p>
      {% endif %}
  <br>
  <hr>
      <p>Name:<br>{{ form.name }}</p>
      <p>Address:<br>{{  form.address }}</p>
      <p>Comments:<br> {{ form.comments }}</p>
      <p>Phone Number:<br> {{ form.phone_number }}</p>
      <input type="hidden" name="tipamount" id="tipAmount" ></input>
      <p>Delivery Method:<br>
          <select id="delivery_method" name="delivery_method" onchange="checkDelivery(this.value);">
              {%  for delivery in form.delivery_method %}
                  {{ delivery }}
              {% endfor %}
          </select>
      </p>

      <p>Tip:<br>
          <select name="tip" onchange="CheckTip(this.value);" id="tips">
              {%  for tip in form.tip %}
                  {{ tip }}
              {% endfor %}
          </select>
          <input type="number" name="tipBox" id="tipBox" onchange="calculateTotalPrice()" style='display:none;'/>
      </p>
         <label for="totalPrice">Total Price: $</label><input name="totalPrice" id="totalPrice" type="number" step="0.01" readonly></input>
        <p>Please select your Payment Method:</p>
  <input type="radio" id="cash" name="type" value="cash">
  <label for="cash">Cash</label><br>
  <input type="radio" id="card" name="type" value="card">
  <label for="card">Card</label><br>
      </p>
    <button type="submit" id="checkout" name="checkout" disabled>Submit Order</button>
    </form>
      </div>
  </div>

    <script type="text/javascript">
        function CheckTip(val) {
            var element=document.getElementById('tipBox');
            if(val=='5')
                element.style.display='block';
            else
                element.style.display='none';
            calculateTotalPrice()
        }
        function checkDelivery(val) {
            if (val=='1') {
                calculateTotalPrice()
            }
            if (val=='2') {
                alert("This option will incur a $5.00 delivery fee and is separate from the delivery tip.")
                calculateTotalPrice()
            }
            if (val=='3') {
                alert("This option will incur a $15.00 delivery fee and is separate from the delivery tip.")
                calculateTotalPrice()
            }
        }
        function updateTotal(val) {
            document.getElementById('totalPrice').value = val;
        }
        function calculateTotalPrice() {
            var basePrice = {{total}}
            var plustips = tipParser(basePrice)
            var deliveryFee = deliveryParser(plustips)
            document.getElementById('totalPrice').value = deliveryFee.toFixed(2)

        }

        function tipParser(basePrice){
            var tips = document.getElementById("tips").value
            if (tips=='1')
                return basePrice
            if (tips=='2') {
                document.getElementById('tipAmount').value = (.15 * basePrice).toFixed(2)
                return 1.15 * basePrice
            }
            if (tips =='3') {
                document.getElementById('tipAmount').value = (.18 * basePrice).toFixed(2)
                return 1.18 * basePrice
            }
            if (tips=='4') {
                document.getElementById('tipAmount').value = (.20 * basePrice).toFixed(2)
                return 1.20 * basePrice
            }
            if (tips=='5') {
                var customTip = document.getElementById("tipBox").value
                document.getElementById('tipAmount').value = customTip
                var newTotal = +customTip + +basePrice
                return (newTotal)
            }
        }

        function deliveryParser(plustips){
            var deliveryFee = document.getElementById("delivery_method").value
            if (deliveryFee=='1')
                return plustips
            if (deliveryFee=='2')
                return 5+plustips
            if (deliveryFee =='3')
                return 15+plustips
        }

    </script>
    <script>
    window.onload = function(){
        var total = {{ total }};
        var orderStatus = "{{orderStatus}}";
        console.log(orderStatus)
        document.getElementById('totalPrice').value = total
        document.getElementById('tipAmount').value = 0
        if (total > 0){
            document.getElementById("checkout").disabled=false;
        }
        if (orderStatus != "No Pending Orders"){
            alert("You have an existing order currently processing.");
            document.getElementById("checkout").disabled=true;
        }

};
</script>
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
