{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

    <h3 style="text-align: center">Hi {{ user.username }}! Welcome to Willy's Pizza Online Ordering Service</h3>
<div class="container">

  {% for menuItem in menu %}
{#        <div style="border:2px solid black;width: 150px;padding: 10px; margin: 10px; text-align: center; float: left" >#}
        {% if forloop.counter0 == 0 %}<div class="row">{% endif %}
        {% if forloop.counter0|divisibleby:2 %}
            </div><div class="row" style="order: 2">
            <div class="col-sm" style="border: 1px solid black; padding: 10px; margin: 10px">
                  {% if menuItem.name == 'Cheese Pizza' %}
                     {% load static %}
                        <img src="{% static "pizza_Cheese.png" %}">
                  {% elif menuItem.name == 'Chicago Pizza' %}
                     {% load static %}
                        <img src="{% static "pizza_Supreme.png" %}">
                  {% elif menuItem.name == 'Staten Island Pizza' %}
                     {% load static %}
                        <img src="{% static "pizza_Pepperoni.png" %}">
                  {% elif menuItem.name == 'The Bronx Pizza' %}
                     {% load static %}
                        <img src="{% static "pizza_Meat_Lovers.png" %}">
                  {% elif menuItem.name == 'Manhattan Pizza' %}
                     {% load static %}
                        <img src="{% static "pizza_margherita.jpeg" %}">
                  {% elif menuItem.name == 'Queens Pizza' %}
                     {% load static %}
                        <img src="{% static "pizza_veggie.jpg" %}">
                  {% elif menuItem.name == 'Caprese Pizza' %}
                     {% load static %}
                        <img src="{% static "pizza_garlic.jpg" %}">
                  {% else %}
                      {% load static %}
                        <img src="{% static "pizza_Cheese.png" %}">
                {% endif %}
                <p>{{ menuItem.name }}</p>
                <p>{{ menuItem.description }}</p>
                <p>Price: ${{ menuItem.price }}</p>
                {% if order|length < 5 %}
                <a href="{% url 'add_to_cart' menuItem.id %}" class="btn btn-primary">Add to Cart</a>
                {% endif %}
            </div>
        {% else %}
          <div class="col-sm" style="border: 1px solid black; padding: 10px; margin: 10px">
    {#            <p>{{ menuItem.type }}</p>#}

                {% if menuItem.name == 'Cheese Pizza' %}
                     {% load static %}
                        <img src="{% static "pizza_Cheese.png" %}">
                 {% elif menuItem.name == 'Chicago Pizza' %}
                     {% load static %}
                        <img src="{% static "pizza_Supreme.png" %}">
                {% elif menuItem.name == 'Staten Island Pizza' %}
                     {% load static %}
                        <img src="{% static "pizza_Pepperoni.png" %}">
                {% elif menuItem.name == 'The Bronx Pizza' %}
                     {% load static %}
                        <img src="{% static "pizza_Meat_Lovers.png" %}">
                 {% elif menuItem.name == 'Manhattan Pizza' %}
                     {% load static %}
                        <img src="{% static "pizza_margherita.jpeg" %}">
                {% elif menuItem.name == 'Queens Pizza' %}
                     {% load static %}
                        <img src="{% static "pizza_veggie.jpg" %}">
                {% elif menuItem.name == 'Caprese Pizza' %}
                     {% load static %}
                        <img src="{% static "pizza_garlic.jpg" %}">
                {% else %}
                    {% load static %}
                        <img src="{% static "pizza_Cheese.png" %}">
                {% endif %}

                <p>{{ menuItem.name }}</p>
                <p>{{ menuItem.description }}</p>
                <p>Price: ${{ menuItem.price }}</p>
                {% if order|length < 5 %}
                <a href="{% url 'add_to_cart' menuItem.id %}" class="btn btn-primary">Add to Cart</a>
                {% endif %}
            </div>
      {% endif %}
      {% if forloop.last %}</div>{% endif %}
    {% endfor %}
</div>
{#    <div style="clear: both"></div>#}



  <div style="position:relative; display: inline-block">
  <br>
      <hr>
  <td colspan= 3> Cart: </td><br><br>
  <form method="GET" novalidate>{% csrf_token %}
      {% for item in order %}
        <tr>
          <td>{{ item.name }}</td>
          <td>${{ item.price }} </td>
          <input type="text" name="itemId" value="{{ item.item_id }}" hidden/>
                <button id="deleteItem" name= "deleteItem" type="submit"><i class="fa fa-trash-o"></i></button>
        <br>
        </tr>
      {% empty %}
        <tr>
          <td colspan= 3> You have not added any items yet.</td>
        </tr>
      {% endfor %}
  </form>
  {%  if order %}
      <form method="GET" novalidate>{% csrf_token %}
        <button id="clearCart" name= "clearCart" type="submit">Delete All Items from Cart</button>
        </form>
      <p>Sales Tax: 6.25%</p>
      <p>Total Price: ${{ total }}</p>
      <a href="{% url 'checkout' %}">Checkout</a>
      {% if order|length == 5 %}
          <script>
              alert("For purchases of more than 5 pizzas please contact us over the phone.");
          </script>
      {% endif %}
  {% endif %}
  </div>
      <br>
      <hr>

    {% if order_history %}
        <form method="GET" novalidate>{% csrf_token %}
        <select id="order_history" name="order_history">
            {%  for order in order_history %}
            <option>{{ order }}</option>
            {% endfor %}
        </select>
        <button type="submit">Add Previous Order To Cart</button>
        </form>
        {% endif %}
    <br>
    <hr>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script>
  function confirm_delete(){
    return confirm("Do you want to remove this item from cart?");
  }
  </script>
{% endblock scripts %}