{% extends 'staffbase.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h3 style="text-align:center">Hi {{ user.username }}! Welcome to Willy's Pizza Online Staff Portal</h3>
  <div class="container">
  {% for order in orders %}
        {% if forloop.counter0 == 0 %}<div class="row">{% endif %}
        {% if forloop.counter0|divisibleby:3 %}
            </div><div class="row" style="order: 2">
            <div class="col-sm" style="border: 1px solid black; padding: 10px; margin: 10px">
            <p>Items: {{ order.items }}</p>
            <p>Comments: {{ order.comments }}</p>
            <p>Customer Email: {{ order.email }}</p>
            {% if order.driver != null %}
                <p>Driver: {{ order.driver }}</p>
            {%  endif %}
            <p>Order Status: {{ order.status }}</p>
            {% if order.status != "In Transit" %}
                <a href="{% url 'updateOrders' order.id %}" class="btn btn-primary">Update Order</a>
            {% endif %}
            </div>
        {% else %}
            <div class="col-sm" style="border: 1px solid black; padding: 10px; margin: 10px">
            <p>Items: {{ order.items }}</p>
            <p>Comments: {{ order.comments }}</p>
            <p>Customer Email: {{ order.email }}</p>
            {% if order.driver != null %}
                <p>Driver: {{ order.driver }}</p>
            {%  endif %}
            <p>Order Status: {{ order.status }}</p>
            {% if order.status != "In Transit" %}
                <a href="{% url 'updateOrders' order.id %}" class="btn btn-primary">Update Order</a>
            {% endif %}
           </div>
      {% endif %}
      {% if forloop.last %}</div>{% endif %}
    {% endfor %}
  </div>
  <br>
  <hr>
  <input type="button" class="button" value = "Edit Menu Items" onclick="location.href='{% url 'editMenuItem' %}'">
  <input type="button" class="button" value = "Generate Customer Report" onclick="location.href='{% url 'customerreport' %}'">
  <input type="button" class="button" value = "Generate Driver Report" onclick="location.href='{% url 'driverreport' %}'">

  <p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}